<h1>Добро пожаловать в Meadowlark Travel</h1>
<p>Возникли вопросы? Перейдите на страницу
    <a href="/about" data-test-id="about">О нас</a>!
</p>
<h2>Домашняя страница</h2>
<p><a href="/newsletter-signup">Подпишитесь на нашу рассылку!</a></p>
<p><a href="/contest/vacation-photo">Поучавствуйте в конкурсе отпускных фотографий!</a></p>
<p><a href="/vacations">Отпускные туры.</a></p>
{{> weather}}