<h2>Специальные предложения</h2>

{{#if special}}
<p>{{special.name}} - {{special.price}}</p>
{{else}}
<p>В настоящий момент не доступны специальные предложения. Пожалуйста, возвращайтесь позже.</p>
{{/if}}